body{
    margin:0;
    padding:0;
    background:url("../img/background.jpg");
}

h3 {
	color: #FFFFFF;
}

.container {
	margin-top: 100px;
}

/* LOGIN */

#login{
	transition:0.5s;
	position:relative;
	height:auto;
	width:30%;
	margin:auto;
	margin-top:10%!important;
	border-radius:10px;
	padding:10px;
	box-shadow:
		10px 12px 12px rgba(0,0,0,0.3),
		inset 8px 10px 10px rgba(255,255,255,0.45);
	background:rgba(255,255,255,0.3);
}

#login input[type="text"]{
	transition:1s;
	display:block;
	background:none;
	text-align: center!important;
	margin-top:8%!important;
	margin:auto;
	width:80%;
	height:60px;
	border:2px inset black;
	border-radius:30px;
	color:black;
	padding:5px;
	outline-width:0;
}

#login input[type="text"]:hover{
	transition:1s;
	background:rgba(255,255,255,0.5);
}

#login input[type="submit"]{
	transition:1s;
	display:block;
	background:green;
	width:80%;
	padding:5px;
	border-radius:30px;
	border:none;
	color:white;
	font-weight:bold;
	margin-top:15%!important;
	height:40px;
	margin:auto;
	outline-width:0;
	box-shadow:
		5px 7px 7px rgba(0,0,0,0.3),
		inset 4px 6px 6px rgba(255,255,255,0.45);
}

#login input[type="submit"]:hover{
	transition:1s;
	background:darkgreen;
}

#login .error{
	position:absolute;
	color:red;
	width:100%;
	text-align:center;
	margin-top:4%;
	font-size:18px;
}

/* TCHAT */

.chat_audio{
	padding-top:1%;
	padding-bottom:1%;
	margin-top:100px!important;
	width:90%;
	background:rgba(0,0,0,0.8);
	margin:auto;
	position:relative;
	height:auto;
	border-radius:5px 5px 0px 0px;
	border-bottom:1px solid silver;
}

.chat_audio .visibleFalse{
	width:80%;
	margin:auto;
	display:block;
}

.video-wrapper{
	width:98%;
	min-height:70px;
	margin:auto;
	display:block;
}

video{
	width:24.5%;
	margin-left:0.5%;
	height:100%;
}

#chat{
	position:relative;
	width:90%;
	height:200px;
	background:rgba(0,0,0,0.8);
	border-radius:0px 0px 5px 5px;
	margin:auto;
	margin-bottom:50px!important;
}

.container_chat{
	width:90%!important;
	height:90%!important;
	padding:10px;
	float:left;
}

#chat #users{
	position:absolute;
	right:0;
	width:10%;
	height:100%;
	background:rgba(0,0,0,0.4);
	border-radius:0px 5px 5px 0px;
}

@media screen and (max-width: 1400px) {
  #chat #users {
    width:15%;
  }
}

#chat #users ul{
	text-align:center;
	padding:10px;
}

#chat #users li{
	color:white;
	list-style:none;
}

#chat #message{
	position:absolute;
	bottom:0;
	left:0;
	background:white;
	width:75%;
	height:12%;
	float:left;
	outline-width:0;
	text-align:center;
}

@media screen and (max-width: 1400px) {
  #chat #message {
	width:70%;
  }
}

@media screen and (max-width: 700px) {
  #chat #message {
	width:70%;
  }
}

#chat #send{
	position:absolute;
	bottom:0;
	right:10%;
	background:green;
	color:white;
	font-weight:bold;
	width:15%;
	height:12%;
	border:none;
	outline-width:0;
}

@media screen and (max-width: 1400px) {
  #chat #send {
	right:15%;
  }
}

@media screen and (max-width: 700px) {
  #chat #send {
	width:20%;
  }
}

/* LISTROOM */

.row .glyphicon-refresh{
	transition:1.5s;
}

.row .glyphicon-refresh:hover{
	transition:1.5s;
	transform:rotate(540deg);
	color:gold; 
}

/* NAVBAR */

.navbar-collapse a{
	width:300px;
	text-align:center;
}

.navbar-collapse .inputSelect{
	width:300px;
	text-align:center;
	padding-top:8px;
}

.navbar-collapse .inputSelect select{
	width:70%;
	display:block;
	margin:auto;
}

.navbar-collapse .inputSelect input{
	width:70%;
	display:block;
	margin:auto;
}

/* PLACEHOLDER */

::-webkit-input-placeholder {
   color: black;
}

::-moz-placeholder {
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}