<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navtop">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a ng-if="!selectRoom" ng-click="toggleSelect()">Choisir une nouvelle room</a>
                    <select ng-if="selectRoom" ng-model="room">
						<option ng-repeat="optionsSelect in listRooms">{{optionsSelect}}</option>
					</select>
                </li>
                <li>
                    <a ng-if="!createRoom" ng-click="toggleCreate()">Créer une room</a>
                    <form ng-show="createRoom" ng-submit="doCreateRoom()">
	                    <input ng-model="createRoomName" type="text"/>
	                    <input type="submit"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="chat">
	<div id="users">
	</div>
	<input type="text" id="message"></input>
	<button id="send">Valider</button>
</div>