<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navtop">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/room" ng-click="quitRoom()">Changer de room</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="">
                        <i class="glyphicon" ng-class="{'glyphicon-volume-off': mute, 'glyphicon-volume-up': !mute}" ng-click="mute = !mute"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- VIDEO -->
<div class="chat_audio">
    <div class="video-wrapper" ng-init="item = []">
        <div class="test">
            <video ng-repeat="peer in peers track by $index" ng-src="{{peer.src}}" class="visibleTrue" id="{{peer.id}}" ng-class="{ctrlCamera: item[$index]}" ng-init="item[$index] = false" ng-click="ctrlCamera($event)" ng-src="{{stream}}" autoplay></video>
        </div>

        <video id="localVideo" autoplay muted></video>
    </div>
</div>

<!-- TEXT -->
<div id="chat">

    <div class="container_chat">
        <ul>
            <li ng-repeat="text in messages track by $index">{{text}}</li>
        </ul>
    </div>

	<div id="users">
		<ul>
            <li>{{$root.login}}</li>
			<li ng-repeat="user in listUsers track by $index">{{user}}</li>
		</ul>
	</div>

    <form ng-submit="sendMessage()">
        <input type="text" id="message" ng-model="message"/>
        <input id="send" type="submit" value="Valider"/>
    </form>
</div>

<div class="progress" ng-if="upload.download">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{upload.bytesReceived}}" aria-valuemin="0" aria-valuemax="{{upload.size}}" style="min-width: 2em; width: {{upload.purcent}}%;">
    {{upload.purcent}}%
  </div>
</div>
<p ng-if="upload.download" class="text-info">receive progress {{upload.bytesReceived}}, out of {{upload.size}}</p>
<p ng-repeat="file in upload.filelist track by $index">
    <a ng-href="{{file.url}}" download="{{file.name}}">{{file.name}}</a>
</p>
<form>
    <input type="file" id="file">
</form>
