<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navtop">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a ng-if="!selectRoom" ng-click="toggleSelect()">Choisir une nouvelle room</a>
                    <form class="inputSelect" ng-show="selectRoom">
	                    <select class="form-control" ng-model="selectRoomName" ng-change="changeRoom()">
							<option ng-repeat="optionsSelect in listRooms">{{optionsSelect}}</option>
						</select>
					</form>
                </li>
                <li>
                    <a ng-if="!createRoom" ng-click="toggleCreate()">Créer une room</a>
                    <form class="inputSelect" ng-show="createRoom" ng-submit="doCreateRoom()">
	                    <input class="form-control" ng-model="createRoomName" type="text"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- VIDEO -->
<div class="chat_audio">
    <div class="video-wrapper" ng-init="item = []">

        <div class="test">
            <video ng-repeat="peer in peers" ng-src="{{peer.src}}" class="visibleTrue" id="{{peer.id}}" ng-class="{ctrlCamera: item[$index]}" ng-init="item[$index] = false" ng-click="ctrlCamera($event)" ng-src="{{stream}}" autoplay></video>
        </div>

        <video id="localVideo" style="width:6%;position:absolute;right:1%;bottom:2%;height:auto;box-shadow:-3px -3px 3px;" autoplay muted></video>
    </div>

</div>

<!-- TEXT -->
<div id="chat">

    <div class="container_chat">
        ok
    </div>

	<div id="users">
		<ul>
			<li ng-repeat="users in listUsers.Clients">{{users.Login}}</li>
		</ul>
	</div>
    
    <input type="text" id="message" ng-model="message"/>
    <button id="send" ng-click="sendMessage()">Valider</button>
    <button ng-click="stop()"></button>
</div>
